<h1>Here are all the recipes</h1>

<% @recipes.each do |recipe| %>
  <p><%= recipe.chef %></p>
  <p><%= recipe.ingredients %></p>
  <p><%= recipe.directions %></p>
  <p><%= recipe.prep_time %></p>
  <p><%= recipe.image_url %></p>
  <img src="<%= recipe.image_url %>">
  <hr>
<% end %>